
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Startup Register Form</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/register1.css">
</head>

<body>
    <div class="background">
        <div class="max">
            <div class="nav">
                <img src="../static/logo-white-01.png" width="100px" alt="" />
                <div class="navbar" id="navbar">
                    <ul>
                      <li><a href="{{url_for('index')}}">Home</a></li>

                        <li><a href="{{url_for('get_contact')}}">Contact Us</a></li>
                        <li><a href="{{url_for('get_about')}}">About</a></li>
                  </ul>
                </div>
                <div id="menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- regester -->
    <div class="registercontent" align="center">
        <div class="card">
            <div class="registertop">
                <h1>Startup Registration Form</h1>
            </div></br></br>
            <div class="registerbottom">
                <form action="{{ url_for('register')}}" method="post" autocomplete="off">
                    <div class="msg">{{ msg }}</div>
                    <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username"
                        required></br></br>
                    <input type="password" name="password" placeholder="Enter Your Password" class="textbox"
                        id="password" required></br></br>
                    <input type="text" name="comp_name" placeholder="Enter Company Name" class="textbox" id="comp_name"
                        required></br></br>
                    <input type="text" name="address" placeholder="Enter Your Company Address" class="textbox"
                        id="address" required></br></br>
                    <input type="text" name="company_email" placeholder="Enter Your Compnay Email " class="textbox"
                        id="company_email" required></br></br>
                    <input type="text" name="phone" placeholder="Enter Your phone" class="textbox" id="phone"
                        required></br></br>
                    <textarea width="100%" rows="10" type="text" name="product_desc" placeholder="Enter Product Desc" class="textbox"
                        id="product_desc" required></textarea></br></br>
                    <input type="text" name="contact_person_email" placeholder="Enter Conatct Email" class="textbox"
                        id="contact_person_email" required></br></br>
                    <input type="text" name="Support_needed" placeholder="Enter Support type" class="textbox"
                        id="Support_needed" required></br></br>
                    <input type="text" name="Website" placeholder="Enter Your Website" class="textbox" id="Website"
                        required>
                    <input type="submit" class="btn login" value="Register">
                </form>
                <p class="worddark">Already have account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p></p>
            </div>
        </div>
    </div>
    <!-- footer -->
    </div>
    <div class="back">
        <div class="max">
            <div class="footer">
                <div class="col">
                    <img src="./images/logo-white-01.png" width="100px" alt="" />
                    <p>
                        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolnatur, esse
                        officiis. Veniam totam aut possimus corrupti! adipisicing elit.
                        Nulla, repudiandae?
                    </p>
                </div>
                <div class="col">
                    <ul>
                      <li><a href="{{url_for('index')}}">Home</a></li>

                        <li><a href="{{url_for('get_contact')}}">Contact Us</a></li>
                        <li><a href="{{url_for('get_about')}}">About</a></li>
                  </ul>
                </div>
            </div>
            <hr />
            <p class="copy">Copyright © SYMBIOSIS 2022</p>
        </div>
    </div>
</body>
<script>
    const nav = document.getElementById("navbar");
    nav.style.maxHeight = "0%"
    document.getElementById("menu").addEventListener("click", () => {
        if (nav.style.maxHeight == "0%") {
            nav.style.maxHeight = "100%";
        } else {
            nav.style.maxHeight = "0%";
        }
    });
</script>

</html>
